<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.index.dao.TakesMapper">
    <resultMap id="CourseMap" type="Course">
            <result property="id" column="cid" />
            <result property="name" column="cname" />
            <result property="credit" column="ccredit"/>
            <result property="classroom" column="cclassroom"/>
    </resultMap>

    <select id="getSelectedCourse" resultMap="CourseMap">
        select c.id cid, c.name cname, c.credit ccredit, c.classroom cclassroom
         from takes t, course c
         where t.no = #{no} and t.cid = c.id
    </select>

    <insert id="addCourse" parameterType="Takes">
        insert into takes(no, cid, grade)
        values (#{no}, #{id}, 0)
    </insert>
</mapper>